
<div class="row">
  <div class="col-8 m-auto">
    <form [formGroup]="formgrupfornecedor">
      <div class="form-group">
        <label for="Nome">Nome :</label>
        <input type="text" formControlName="name" class="form-control" id="Nome do fornecedor" aria-describedby="Nome" placeholder="Seu Nome">
      </div>

      <div class="form-group">
        <label for="categoria">Categoria :</label>
        <select class="form-select" aria-label="Default select example" type="select" formControlName="category" id="categoria" required>
          <option selected></option>
          <option value="Regional">Regional</option>
          <option value="Nacional">Nacional</option>
          <option value="Internacional">Internacional</option>
        </select>
      </div>

      <div class="form-group">
        <label for="contato">Contato :</label>
        <input type="text" formControlName="contact" class="form-control" id="contato" aria-describedby="contato" placeholder="Seu Contato">
      </div>

      <div class="form-group">
        <label for="tividade">Atividade :</label>
        <input type="text" formControlName="active" class="form-control" id="tividade" aria-describedby="tividade" placeholder="Sua tividade">
      </div>


      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-8 m-auto">
    <table class="table table-bordered border-primary">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Ativo</th>
          <th scope="col">Categoria</th>
          <th scope="col">Contato</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fornecedor of fornecedores">
          <th scope="row">{{fornecedor.id}}</th>
          <td>{{fornecedor.name}}</td>
          <td>{{ fornecedor.active }}</td>
          <td>{{fornecedor.category}}</td>
          <td>{{fornecedor.contact}}</td>
          <td class="d-flex justify-content-end">
            <button class="btn btn-primary me-1" (click)="delete(fornecedor)">Excluir</button>
            <button class="btn btn-danger" (click)="edit(fornecedor)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
